 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: nunito;
 }

.container{
 display: flex;
 flex-direction: column;
}

.navigation{
    display: flex;
    justify-content: space-between;
    background-color: rgb(44, 43, 43);
    height: 60px;
}

ul{
    display: flex;
    list-style: none;
    margin-top: 10px;
}

li{
    padding: 10px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: whitesmoke;
    font-family: nunito;
}


.links{
    margin: 20px;
    padding: 10px;
    margin-top: 10px;
}

.login{
    text-decoration: none;
    color: whitesmoke;
    border: 2px solid rgb(102, 76, 10);
    padding: 7px;
    text-transform: capitalize;
    font-family: nunito;
    font-size: large;
}

.sign-up{
    text-decoration: none;
    color: whitesmoke;
    border: 2px solid rgb(102, 76, 10);
    padding: 7px;
    margin-left: 20px;
    text-transform: capitalize;
    font-family: nunito;
    font-size: large;
}

.second{
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),url(/assets/images/style2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.inner-second{
    display: flex;
    justify-content: space-between;
}
.inner-second h1{
    color: whitesmoke;
    text-transform: uppercase;
    margin-top: 200px;
    font-size: xx-large;
    margin-left: 70px;
    letter-spacing: 2px;
    font-weight: bolder;
}

.inner-third h1{
    color: whitesmoke;
    text-transform: uppercase;
    font-size: xx-large;
    letter-spacing: 2px;
    font-weight: bolder;
}

.inner-second .line{
    margin-left: 70px;
}

.inner-second p{
    color: whitesmoke;
    margin-left: 70px;
    font-size: large;
    margin-top: 10px;
}

.inner-third p{
    color: whitesmoke;
    font-size: large;
    margin-top: 10px;
}
 
.line{
    height: 1px;
    background-color: grey;
    width: 100px;
    margin: 40px 0;
}

strong{
    color: rgb(102, 76, 10);
    font-style: italic;
}

.btn-third{
    width: 200px;
    text-transform: uppercase;
    height: 40px;
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid rgb(102, 76, 10);
    margin-top: 100px;
    cursor: pointer;
}

.btn{
    text-align: center;
}
.btn button{
    width: 150px;
    text-transform: uppercase;
    background-color: transparent;
    height: 40px;
    border: 1px solid rgb(102, 76, 10);
    cursor: pointer;
    margin-top: 90px;
    padding: 10px;
    color: whitesmoke;
    border-radius: 10px;
}

.social-media{
    margin-top: 200px;
    background-color: rgb(160, 116, 6);
    height: 90px;
    padding: 10px 5px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.social-media a{
    color: whitesmoke;
}

.third{
    background-color: rgb(20, 19, 19);
    display: flex;
    justify-content: center;
    height: 600px;
}

.photo{
    background-image: url(/assets/images/style1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 400px;

}
.side-content{
    color: whitesmoke;
    margin-left: 60px;
}

.inner-third{
    display: flex;
    margin-top: 100px;
}